q1/questão-1.xsd


<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com">
<xs:element name="Livros">
<xs:complexType>
    <xs:sequence>
        <xs:element name="livro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a"></xs:element>
            </xs:sequence>
        </xs:complexType>
        </xs:element>
    </xs:sequence>
    <xs:attribute name="ISBN"></xs:attribute>

   
</xs:complexType>

</xs:element>

</xs:schema>
